body{
    margin: 20px;
    background-color: beige;
}

h1 {
    text-align: center;
color: crimson;
}

section {
    margin-top: 30px;
    background-color: white;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid white;
}

img{
    width: 400px;
    border-radius: 8px;
    display: block;
    margin-bottom: 10px;
}

a {
    color: rgb(243, 103, 47);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

